/* *{
    margin: 0;
    padding: 0;
} */
/* Navbar */
/* body {
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    background-clip: cover;
}

.navtop {
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: rgb(167, 229, 255) !important;
}

.navbar-nav li .active {
    color: rgb(34, 171, 220) !important;
}

.navbar-nav li .active:hover {
    color: rgb(34, 171, 220) !important;
}

.services {
    color: white;
}

.services span {
    margin-left: 5px;
}

.listservices {
    display: none;
    float: left;
    position: absolute;
    margin-left: 90px;
    font-weight: lighter;
    margin-top: 230px;
}


.listservices ul li {
    list-style: none;
    padding-right: 25px;
}

.listservices:hover {
    cursor: pointer;
    display: block;
}

.listservices li:hover {
    color: #1263e6;
}

.services:hover+.listservices {
    display: block;
    z-index: 3;
}

.crossbtn{
    visibility: hidden;
}
.crossbtnshown{
    visibility: visible;
    margin-right: 10px;
    color: white;
}


/* About card */
/* Card shadow */
.aboutcont {
    background-image: linear-gradient(180deg, rgb(223, 253, 255), rgb(241, 246, 255));
    box-shadow: 1px 0px 19px 3px rgb(198, 210, 255);
}

/* Intro */
.typewriter h5 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(20, end), textclip 2s linear infinite;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #1263e6 67%,
            #3b5d5d 100%);
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* Card button */
.cbtn {
    border-width: 2px;
    margin-left: 20px;
}


.button {
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
    background: #000000;
    border: none;
    padding: 10px 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button::before,
.button::after {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--calypso {
    box-sizing: border-box;
    overflow: hidden;
    font-family: freight-display-pro, serif;
    font-size: 1.15rem;
    border-radius: 0.85rem;
    color: #fff;
}

.button--calypso span {
    box-sizing: border-box;
    display: block;
    position: relative;
    mix-blend-mode: difference;
    z-index: 10;
}

.button--calypso:hover span {
    box-sizing: border-box;
    animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

@keyframes MoveScaleUpInitial {
    to {
        box-sizing: border-box;
        transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
        opacity: 0;
    }
}

@keyframes MoveScaleUpEnd {
    from {
        box-sizing: border-box;
        transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
        opacity: 0;
    }

    to {
        box-sizing: border-box;
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.button--calypso::before {
    box-sizing: border-box;
    content: '';
    background: #f3f3f3;
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
}

.button--calypso:hover::before {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso::after {
    box-sizing: border-box;
    content: '';
    background: #f3f3f3;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso:hover::after {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
}




/* Interships */
/* Internship view button */
.button::before,
.button::after {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--anthe {
    box-sizing: border-box;
    font-family: bely-display, sans-serif;
    color: #ffffff;
    background: none;
}

.button--anthe::before {
    box-sizing: border-box;
    content: '';
    background: linear-gradient(0deg, rgb(39, 27, 27));
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover::before {
    box-sizing: border-box;
    background: rgb(33, 48, 210);
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
    box-sizing: border-box;
    display: block;
    transition: transform 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span {
    box-sizing: border-box;
    transform: translate3d(-10px, 0, 0);
}

/* Internship text */
.typewr h5 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(20, end), textclip 2s linear infinite;
    background-image: linear-gradient(-225deg,
            #70cbff 0%,
            #d1c8da 29%,
            #bdd6ff 67%,
            #8bfdfd 100%);
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


/* Education */
.clg {
    font-weight: bold;
}

.clgimg {
    height: 80px;
}

.hsc {
    margin-left: 10px;
}

/* Certifications */

.skillblock{
    display: none;
}
.skillcolor{
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(71, 71, 71));
}


/* Projects */
.iconim {
    color: rgb(33, 48, 210);
    font-size: 20px;
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(33, 48, 210);
    width: 0;
    height: 0;
    padding: 7px;
    border-radius: 100%;
}


.rightside {
    margin-left: 850px;
}



/* Footer */
.bnav {
    margin-left: 70px;
}


.bnav li {
    width: max-content;
    position: relative;
    cursor: pointer;
}

.bnav li::after {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.bnav li:hover::after {
    transform: scaleX(1);
}


.footertag {
    position: relative;
}

.linktext {
    font-weight: bold;
}

.iconlink {
    margin-right: 70px;
}

.iconlink li a:hover {
    box-shadow: 0px 0px 9px 2px rgb(255, 255, 255);
    border-radius: 50%;
}


.cbtn {
    margin-left: 20px;
}

@media only screen and (max-width: 992px) {

    /* About card button */
    .hcbtn {
        width: 100%;
        flex-direction: column;
    }

    .cbtn {
        margin-left: 0%;
        width: 100%;
        margin-top: 20px;
    }



    .button--calypso:hover span {
        animation: none !important;
    }

    .button--calypso:hover::before,
    .button--calypso:hover::after {
        background-color: #000000;
        color: #ffffff;
    }


    .right{
        margin-left: 10px;
    }

    .skillset{
        display: none;
    }

    /* Projects */
    .rightside {
        margin-left: 10px;
    }

    /* Certications */

    .skillblock{
        display: block;
    }
    .skilllist{
        list-style: none;
    }
    /* Footer */
    .linktext {
        margin-left: 40px;
    }

    .bnav {
        flex-direction: column;
        font-size: 20px;
    }

    .iconlink {
        justify-content: center;
    }

    .button--anthe::before,
    .button--anthe:hover::before,
    .button--anthe span,
    .button--anthe:hover span {
        transition: none !important;
        transform: none !important;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
        background: none !important; 
    }

    .block {
        position: relative;
        background: linear-gradient(0deg, rgb(39, 27, 27)) !important;
    }

}







/* Block glow */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.block {
    position: relative;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(71, 71, 71));
}

.glow::before,
.glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, rgb(33, 48, 210), rgb(106, 0, 255), rgb(39, 46, 146), rgb(64, 3, 218), rgb(40, 11, 255), rgb(3, 3, 52), rgb(64, 207, 255));
    /* rgb(255, 255, 0), #00fff2, rgb(93, 6, 255), rgb(6, 255, 93), rgb(0, 255, 0), rgb(255, 0, 166), rgb(255, 0, 0)) */
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(40px);
    /* opacity: 0.9; */
}



.lefts {
    margin-left: 20px;
}




